<div *ngIf="this.authorized" class="menu">
    <h2>Administrator Tasks</h2>

    <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/admin/exportData']"  >
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        Export Collected Data
    </button>

    <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/admin/importData']">
        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
        Import Spreadsheet
    </button>

    <a [attr.href]="this.url + 'admin/qrcodes'">
        <button type="button" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
            Download QR Codes
        </button>
    </a>

    <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/admin/graph']">
        <span class = "glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Garden Statistics
    </button>
</div>

<div *ngIf="!this.authorized">
    <h2>Authenticating...</h2>
</div>

<style>
    .menu {
        text-align: center;
    }
</style>