<div *ngIf="this.authorized" class="photo-page">
    <h2>Upload a Plant Photo</h2>

<div>
    Plant ID#
    <input #textbox (keyup)="onKey($event)" type="text" [(ngModel)]="textValue">
    <button (click)="getPlant(textbox.value, this.bed)" value = "clicked" class="btn btn-primary">Find</button>
</div>

<div class="searchField col-xs-8">
    <input type="text" [ngModel]="searchTerms" (ngModelChange)="handleSearchTerms($event)" placeholder="Find a flower by name or bed" class="form-control search-field"/> {{searchTerms}}
</div>

<div class="plant-list-body">
    <ul>
        <li *ngFor="let plant of plantListService.getFilteredPlants()" [routerLink]="['/plant', plant.gardenLocation, plant.id]">
            <a>
                <span class="common-name"> {{ plant.commonName }}</span>
                <br>
                <span class="cultivar">{{ plant.cultivar}}</span>
            </a>
        </li>
    </ul>
</div>

    <div *ngIf="plant">
        <br>
        <u><strong>Selected Plant</strong></u><br>
        <strong>Common Name:</strong> {{plant.commonName}}<br>
        <strong>Cultivar:</strong> {{plant.cultivar}}<br>
        <br>

        <div *ngIf="plant.photoPath">
            <img [attr.src]="this.URL + 'plant/' + this.bed+ '/' + this.id + '/getPhoto'" width = "100%">
            <br> Uploading new photo will replace this photo.
        </div><br>

        <file-upload #fu (change)="filename = undefined; uploadAttempted = false" [multiple]="false">-</file-upload>

        <button *ngIf="filename === undefined" class="btn btn-primary" (click)="this.handleUpload(); this.refresh(this.id)" style="margin-top: 10px">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
            Upload
        </button>

        <div *ngIf="filename!==undefined"> Your file was successfully uploaded for plant {{this.id}}.
        </div>
        <div *ngIf="filename === undefined && uploadAttempted === true">File upload failed.</div>

    </div>

    <div *ngIf="!plant && clicked && this.clicked === true">
        Invalid plant ID

    </div>
    <div>
        <br>
        <button  [routerLink]="['/admin']" class="btn btn-primary" style="float: right">Back to Admin Page</button>
    </div>

</div>

<style>

</style>